{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <section>
        <h3>Liste d'animes</h3>

        <div class="row">

            {% for anime in animes %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div id="liste_anime" class="card" >
                        <a href="{{ anime.image }}">
                            <img class="card-img-top" src="{{ anime.image }}" alt="{{ anime.title }}">
                        </a>
                        <div class="card-body text-center">
                            <a href="{{ path('anime_show', {slug: anime.slug}) }}"><h5 class="card-title">{{ anime.title }}</h5></a>
                            <p class="card-text">
                                <span>nombre d'épisode count_episodes({{ anime.id }}, $pdo)</span>
                                {# <span>première parution en {{ anime.createdAt | date('Y') }} </span> #}
                                <span>Date de première parution {{ anime.published }}</span>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </section>

{% endblock %}
