{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <section>
        <h3>Liste d'animes</h3>

        <div class="row">

            {% for anime in animes %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div id="liste_anime" class="card" >
                        <a href="{{ path('anime_show', {slug: anime.slug}) }}">
                            <img class="card-img-top" src="{{ anime.image }}" alt="{{ anime.title }}">
                        </a>
                        <div class="card-body text-center">
                            <a href="{{ path('anime_show', {slug: anime.slug}) }}"><h5 class="card-title">{{ anime.title }}</h5></a>
                            <p class="card-text">
                                {# récupére le dernier épisode enregistrer dans l'animé #}
                                {% set lastEpisode = anime.getEpisodes.last %}
                                {# Si il existe alors affiche les infos #}
                                {% if lastEpisode %}
                                    <span>nombre d'épisode {{ anime.countEpisodes }}</span>
                                    <br>
                                    <a href="{{ path('episode_show', {slug: lastEpisode.slug}) }}">{{ lastEpisode.getTitle }}</a>
                                    <br>
                                    <span>Date de première parution </span>
                                {% else %}
                                    <span>Date de sortie prévu pour </span>
                                {% endif %}
                                <published>{{ anime.published }}</published>
                                {# <span>première parution en {{ anime.createdAt | date('Y') }} </span> #}
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </section>

{% endblock %}
