{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <section>
        <div class="search">
            {{ form_start(formSearch, {'attr': {'id': 'form_anime_search'}}) }}

                {{ form_row(formSearch.title, {'attr': {'placeholder': "Rechercher un anime"}}) }}
                <button class="btn btn-success" type="submit">Rechercher</button>

                <button class="btn btn-warning" type="reset">Reset</button>

                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="search_switch" />
                        <label class="custom-control-label" for="search_switch">Recherche Avancée</label>
                    </div>
                </div>

                <div class="advanced_search" id="advanced_search" style="display:none">
                    {{ form_row(formSearch.type) }}
                    {{ form_row(formSearch.status) }}
                    {{ form_row(formSearch.kind, {'attr': {'class': 'form-inline'}}) }}
                    {{ form_row(formSearch.publishedMin, {'attr': {'placeholder': "Date de min parution"}}) }}
                    {{ form_row(formSearch.publishedMax, {'attr': {'placeholder': "Date de max parution"}}) }}
                    {{ form_row(formSearch.author, {'attr': {'placeholder': "Nom du mangaka"}}) }}
                    {{ form_row(formSearch.country, {'attr': {'placeholder': "Pays d'origine de l'oeuvre"}}) }}
                </div>
                
            {{ form_end(formSearch) }}
        </div>

        <div class="row">
            <h3 class="col-12">Liste d'animes</h3>
            {% for anime in animes %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div id="liste_anime" class="card" >
                        <a href="{{ path('anime_show', {slug: anime.slug}) }}">
                            <img class="card-img-top" src="{{ anime.image }}" alt="{{ anime.title }}">
                        </a>
                        <div class="card-body text-center">
                            <a href="{{ path('anime_show', {slug: anime.slug}) }}"><h5 class="card-title">{{ anime.title }}</h5></a>
                            <p class="card-text">
                                {# récupére le dernier épisode enregistrer dans l'animé #}
                                {% set lastEpisode = anime.getEpisodes.last %}
                                {# Si il existe alors affiche les infos #}
                                {% if lastEpisode %}
                                    {# Compte le nombre d'episode grace à la fonction count + en parametre le format à compter #}
                                    <span>nombre d'épisode {{ anime.count("Episode") }}</span>
                                    <br>
                                    <a href="{{ path('episode_show', {slug: lastEpisode.slug}) }}">{{ lastEpisode.getTitle }}</a>
                                    <br>
                                    <span>Date de première parution </span>
                                {% else %}
                                    <span>Date de sortie prévu pour </span>
                                {% endif %}
                                <published>{{ anime.published }}</published>
                                <div>type : {{ anime.type.name }}</div>
                                {# <span>première parution en {{ anime.createdAt | date('Y') }} </span> #}
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(animes) }}
        </div>

    </section>

    <footer>
        <ul>
            <ol>Contenu du site</ol>
            <li>
                <span>{{ animes.getTotalItemCount }}</span>
                <span>Animes</span>
            </li>
        </ul>
    </footer>

{% endblock %}

{% block javascripts %}
    <script>
        $( () => {
            // button de recherche avancée
            $advanced_search = $("#advanced_search");
            $("#search_switch").change(function() {
                $advanced_search.toggle("medium");
            });

            // recherche avec ajax
            $("#form_anime_search").change(() => {
                const formCriteria = $("#form_anime_search").serialize();

                $.get(
                    "{{ path('api_search_anime_criteria') }}",
                    { criteria : formCriteria },
                    ajaxSearchAnimesCriteria
                );
            });

            
            function ajaxSearchAnimesCriteria(animes) {
                console.log(animes);
                // if (animes.length > 0) {
                //     for(const anime of animes) {
                //         // Permet d'affecter une url avec le path de twig dynamiquement avec javascript
                //         let url = '{{ path("anime_show", {slug: 'replace_this_anime_slug'}) }}';
                //         url = url.replace("replace_this_anime_slug", anime.slug);

                //         var $link = $("<a />").attr("href", url);
                //         $link.text(anime.title);
                //         $link.addClass('text-success')
                //         $('#search_result').append($link);
                //     }
                // } else {
                //     $('#search_result').append("<span>Aucun anime trouvé</span>");
                // }
            }
        });
    </script>
{% endblock %}