{% extends "base.html.twig" %}

{% form_theme formEpisode 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {% if editMode %}
        New Episode
    {% else %}
        {{ "Edit " ~ episode.anime.title ~ " " ~ episode.format ~ " " ~ episode.episode}}
    {% endif %}
{% endblock %}

{% block body %}
    
    {{ form_start(formEpisode) }}

        {{ form_row(formEpisode.anime) }}
        {{ form_row(formEpisode.voice, {'attr': {'placeholder': "Vostfr ou vf"}}) }}
        {{ form_row(formEpisode.season, {'attr': {'placeholder': "Saison"}}) }}
        {{ form_row(formEpisode.episode, {'attr': {'placeholder': "Episode"}}) }}
        {{ form_row(formEpisode.format, {'attr': {'placeholder': "Episode, Film, OAV..."}}) }}
        {{ form_row(formEpisode.video, {'attr': {'placeholder': "Plusieurs url possible, séparer les par une virgule et un espace (, ) Exemple : \ngoogle.fr, facebook.com"}}) }}
        

        <button type="submit" class="btn btn-primary">
            {% if editMode %}
                Ajouter un nouveau episode
            {% else %}
                Enregistrer les modification
            {% endif %}
        </button>
    
    {{ form_end(formEpisode) }}
{% endblock %}

{% block javascripts %}

{% endblock %}
