{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <section>
        <h3>Anime de la semaine</h3>

        {% for episode in episodes %}

            <div class="content">
            
                <a href="{{ path('episode_show', {slug: episode.slug}) }}">
                    <img src="{{ title }}" alt="{{ title }}" />
                </a>
                <span>
                    <span>
                        <a href="{{ path('episode_show', {slug: episode.slug}) }}">
                            <b>{{ title }} {{ episode.format }} {{ episode.episode }} {{ episode.voice }} saison {{ episode.season }}</b>
                        </a>
                    </span>
                    <span class="info">
                        <span>
                            Ajouté il y à {{ episode.createdAt | date('H:i') }}
                        </span>
                    </span>
                </span>
            </div>

        {% endfor %}

    </section>

{% endblock %}
