{% extends "base.html.twig" %}
{% block title %}
    {{ anime.title }}
{% endblock %}
{% block body %}
    <br>
    <div class="presentation">
        <div class="row">
            <div class="col-9">
                <h2>{{ anime.title }}</h2>
            </div>
            {% if is_granted("ROLE_MODERATOR") %}
                <div class="row col-3">
                    <div class="col">
                        <a href="{{ path('anime_edit', {slug: anime.slug}) }}">Edit anime</a>
                    </div>
                    <div class="col">
                        <a href="{{ path('episode_create', {id: anime.id}) }}">Add episode</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <br>
        <div class="form-group"><img src="{{ anime.image }}" alt="{{ anime.title }}" class="img-responsive" /></div>
        <div>date de parution : {{ anime.published }}</div>
        <div>synopsis : {{ anime.content }}</div>
        <div>type : {{ anime.type.name }}</div>
        <div>genre : 
            {% for kind in anime.kind %}
                {{ kind.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
        {# <div>genre : {{ anime.kind.name | join(', ') }}</div> #}
        <div>status : {{ anime.status.name }}</div>
        <div>auteur : {{ anime.author }}</div>
        <div>titre alternatif : {{ anime.alternativeTitle }}</div>
        {# <div>studio d'animation : {{ anime.studio }}</div> #}
        <div>pays : {{ anime.country }}</div>
        {# <div>licencié : {{ anime.licence }}</div>             #}
    </div>
    <div class="list-episode">
        <ul>
        {% for episode in anime.getEpisodes %}
            <li>
                <a href="{{ path('episode_show', {slug: episode.slug}) }}">
                    {{ episode.getTitle }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}