{% extends "base.html.twig" %}
{% block title %}
    {{ anime.title }}
{% endblock %}
{% block body %}
    <br>
    <div class="presentation">
        <div class="row">
            <div class="col-9">
                <h2>{{ anime.title }}</h2>
            </div>
            {% if is_granted("ROLE_MODERATOR") %}
                <div class="row col-3">
                    <div class="col">
                        <a href="{{ path('anime_edit', {slug: anime.slug}) }}">Edit anime</a>
                    </div>
                    <div class="col">
                        <a href="{{ path('episode_create', {id: anime.id}) }}">Add episode</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <br>
        <div class="form-group"><img src="{{ anime.image }}" alt="{{ anime.title }}" class="img-responsive" /></div>
        <div>date de parution : <a href="{{ path('anime') }}?publishedMin={{ anime.published }}&publishedMax={{ anime.published }}">{{ anime.published }}</a></div>
        <div>synopsis : {{ anime.content }}</div>
        <div>type : <a href="{{ path('anime') }}?type={{ anime.type.id }}">{{ anime.type.name }}</a></div>
        <div>genre : 
            {% for kind in anime.kind %}
                <a href="{{ path('anime') }}?kind={{ kind.id }}">{{ kind.name }}</a>
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div>status : <a href="{{ path('anime') }}?status={{ anime.status.id }}">{{ anime.status.name }}</a></div>
        <div>auteur : <a href="{{ path('anime') }}?author={{ anime.author }}">{{ anime.author }}</a></div>
        <div>titre alternatif : <a href="{{ path('anime') }}?title={{ anime.alternativeTitle }}">{{ anime.alternativeTitle }}</a></div>
        {# <div>studio d'animation : {{ anime.studio }}</div> #}
        <div>pays : <a href="{{ path('anime') }}?country={{ anime.country }}">{{ anime.country }}</a></div>
        {# <div>licencié : {{ anime.licence }}</div>             #}
    </div>
    <div class="list-episode">
        <ul>
        {% for episode in anime.getEpisodes %}
            <li>
                <a href="{{ path('episode_show', {slug: episode.slug}) }}">
                    {{ episode.getTitle }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="comments">
        <li>{{ anime.comments|length }} commentaires</li>
        {% if is_granted('ROLE_USER') %}
            {{ form_start(form) }}
                {{ form_row(form.content, {'attr': {'placeholder': 'Nouveau commentaire'}}) }}
                <button class="btn btn-success" type="submit">Commentez</button>
            {{ form_end(form) }}
        {% else %}
            <p>il est nécessaire de se <a href="{{ path('security_login') }}">connecter</a> pour pouvoir commenter</p>
        {% endif %}
        {% for comment in anime.comments|reverse %}
            <hr>
            <div class="comment">
                <h6 class="user_name">
                    <a href="#profile">{{ comment.user.username}}</a>
                    <span>publié le {{ comment.createdAt | date('d/m/Y à H:i:s') }}</span>
                </h6>
                <span class="content">{{ comment.content }}</span>
                {# si l'utilisateur à le droit d'edit et supprimer #}
                {% if comment.isAuthorizedEdit(app.user) %}
                    <a href="{{ path("edit_comment", {id:comment.id}) }}">editer</a>
                    <a class="text-danger" href="{{ path("delete_comment", {id: comment.id}) }}">supprimer</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}