{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .image-mini {
            width: 150px;
            height: 150px;
        }
    </style>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <section>
        <h3>Anime de la semaine</h3>
        <hr>
        {% for episode in episodes %}

            <div class="content">
            
                <a href="{{ path('episode_show', {slug: episode.slug}) }}">
                    <img class="image-mini" src="{{ episode.anime.image }}" alt="{{ episode.anime.title }}" />
                </a>
                <span>
                    <span>
                        <a href="{{ path('episode_show', {slug: episode.slug}) }}">
                            <b>{{ episode.anime.title }} {{ episode.format.name }} {{ episode.episode }} {{ episode.voice.name }} saison {{ episode.season }}</b>
                        </a>
                    </span>
                    <span class="info">
                        <span>
                            Ajouté le {{ episode.createdAt | date('d-m-Y à H:i') }}
                        </span>
                    </span>
                </span>
            </div>
            <hr>

        {% endfor %}

        <div class="pagination">
            {{ knp_pagination_render(episodes) }}
        </div>

    </section>

    <footer>
        <ul>
            <ol>Contenu du site</ol>
            <li>
                <span>{{ episodes.getTotalItemCount }}</span>
                <span>Vidéos</span>
            </li>
        </ul>
    </footer>

{% endblock %}

