{% extends "base.html.twig" %}

{% form_theme formEpisode 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {% if editMode %}
        New Episode
    {% else %}
        {{ "Edit " ~ episode.anime.title ~ " " ~ episode.format.name ~ " " ~ episode.episode}}
    {% endif %}
{% endblock %}

{% block body %}
    
    {{ form_start(formEpisode) }}

        {{ form_row(formEpisode.anime) }}
        {{ form_row(formEpisode.voice) }}
        {{ form_row(formEpisode.season, {'attr': {'placeholder': "1"}}) }}
        {{ form_row(formEpisode.episode, {'attr': {'placeholder': "1"}}) }}
        {{ form_row(formEpisode.format) }}
        {{ form_row(formEpisode.video, {'attr': {'placeholder': "Plusieurs url possible, séparer les par une virgule et un espace (, ) Exemple : \ngoogle.fr, facebook.com"}}) }}
        

        <button type="submit" class="btn btn-primary">
            {% if editMode %}
                Ajouter un nouveau episode
            {% else %}
                Enregistrer les modification
            {% endif %}
        </button>
    
    {{ form_end(formEpisode) }}
{% endblock %}

{% block javascripts %}
    <script>
    $( ()=> {
        const animeId = "{{ animeId }}";
        if (animeId) {
            $('#episode_anime').val(parseInt(animeId));
        }
    });
    </script>
{% endblock %}
