{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(formSearch) }}
        {{ form_row(formSearch.animes, {'attr': {'placeholder': "Rechercher un anime"}}) }}
        <button class="btn btn-success" type="submit">Rechercher</button>
    {{ form_end(formSearch) }}

    
    {# {% if animes %}
        <pre>
            {{ dump(animes) }}
        </pre>
    {% endif %} #}

    <ul>
        {% for anime in animes %}
            <li>
                <a href="{{ path("anime_show", {slug: anime.slug}) }}">{{ anime.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}